.footer{
    background-image: url("https://c1.staticflickr.com/1/44/167285658_e9d493f658_b.jpg");
    width: 100%;
}

li {
    list-style: none;
    display: inline-block;
    
}

.item {
    text-align: center;
    justify-content: left;
}

.item2 {
    justify-content: center;
}

.item3 {
    justify-content: right;
}