.footer{
    background-image: url("https://c1.staticflickr.com/1/44/167285658_e9d493f658_b.jpg");
    width: 100%;
}

li {
    list-style: none;
    align-content: center;
    display: inline;
}

.item {
    text-align: center;
}