.jumbotron {
    width: 100%;
    height: 200px;
    background-image: url("https://c1.staticflickr.com/1/44/167285658_e9d493f658_b.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}